{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Это главная страница нашего приложения. Здесь вы можете зарегистрироваться, войти в систему или редактировать свой профиль.</p>
    {% if not current_user.is_authenticated %}
        <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg">Регистрация</a>
        <a href="{{ url_for('login') }}" class="btn btn-success btn-lg">Вход</a>
    {% endif %}
</div>
{% endblock %}
